
  
  <!-- Back button with a default href -->
  <ion-header class="barra">
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
              <ion-icon class="barra-icons" name="md-arrow-back"></ion-icon>
              <a href="/login"></a>
            </ion-button>
            <ion-label>Sair</ion-label>
           
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="body">
      <ion-slide>
          <div class="perfil">
            </div>
      </ion-slide>
      
    </ion-content>
  
    
  
    
    