  <ion-header class="barra">
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
              <ion-icon class="barra-icons" name="md-arrow-back"></ion-icon>
              <a href="/comercios"></a>
            </ion-button>
            <ion-label>Sair</ion-label>
            <div class="perfil">
                <ion-icon  name="ios-book"></ion-icon>
              </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="body">
      
        <div class="title">
        
          <span>Menu:</span>
        
        
          <ion-icon class="icon-content" name="md-restaurant"></ion-icon>
        
        </div>
     
    </ion-content>
  
    
  
    
    