
<ion-content>
    <ion-slide class="fundo">
    <div class="slide-inner ion-padding">
        <img class="logo" src="/assets/img/logo.png" alt="Logo">

        <div class="form">
            <ion-label>Nome:</ion-label>
          <ion-item class="input" lines="none">
              <ion-icon name="md-person"></ion-icon>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
        
        <div class="form">
            <ion-label>E-mail:</ion-label>
          <ion-item class="input " lines="none">
            <ion-icon name="mail"></ion-icon>
            <ion-input type="email"></ion-input>
          </ion-item>
        </div>
        <div class="form">
            <ion-label>Senha:</ion-label>
          <ion-item class="input " lines="none">
              <ion-icon name="md-key"></ion-icon>
            <ion-input type="palceholder"></ion-input>
          </ion-item>
        </div>
        <button class="button ion-margin-top" (click)="register()" color="light" expand="block">
          Cadastrar
        </button>

        <div class="link ion-margin-top">
            <span>Já é usuário? </span>
            <span><a href="/login"> Crie aqui</a></span>
        </div>
      </div>
    </ion-slide>
</ion-content>
