
  
  <!-- Back button with a default href -->
  <ion-header class="barra">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button>
            <ion-icon class="barra-icons" name="md-arrow-back"></ion-icon>
          </ion-button>
          <ion-label>Sair</ion-label>
          <div class="perfil">
            <ion-label for="">Perfil</ion-label> 
            <a href="/perfil"></a> 
          </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="body">
    
      <div class="title">
      
        <span>Comercios:</span>
      
      
        <ion-icon class="icon-content" name="md-restaurant"></ion-icon>
      
      </div>
   
  </ion-content>

  

  
  