
  
  <!-- Back button with a default href -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
        <label>Sair</label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
  </ion-content>
  
  <!-- Back button with custom text and icon -->
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  
  
  